@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Jost:wght@100;200;300;400;500;600;700;800;900&family=Libre+Caslon+Text:wght@400;700&family=Merriweather:wght@300;400;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 10px;
}
body::-webkit-scrollbar {
    display: none;
  }


/* Big-content */

.container1{
    height: 77rem;
    width: 100vw;
    background-size: cover;
    position: relative;
    
}
.main-bg1::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: linear-gradient(to top, rgba(0, 0, 0, .8) 0, rgba(0, 0, 0, .2) 60%, rgba(0, 0, 0, .8) 100%);
    z-index: 1000;
}

.main-bg1{
    width: 100%;
    height: 100%;
    overflow:hidden;
}

.main-bg1 img{
    width: 100%;
    height: 100%;
    scale: 1.4;
    transform: rotate(6deg);
    overflow:hidden;
    
}


/* ----------Nav-Bar--------- */

.nav{
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 1.8rem;
    /* margin-top: 2.2rem; */
    z-index: 10000;

}

.nav .logo{
    width: 17rem;
    height: 85%;
    position: absolute;
    left: 18rem;
    background-image: url(./img/logo.png);
    background-size: cover;
}


.lang{
    width: 14rem;
    height: 3.7rem;
    color: #fff;
    border: 1px solid rgb(136, 136, 136);
    border-radius: 4px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.lang i{
    font-size: 1.7rem;
}

.lang select{
    outline: none;
    font-size: 1.6rem;
    letter-spacing: 4;
    border: none;
    background-color: transparent;
    color: #fff;
}

.right-side{
    display: flex;
    width: 20%;
    height: 6rem;
    justify-content: space-evenly;
    position: absolute;
    right: 18rem;

}

.signin p{
    width: 10rem;
    height: 3.7rem;
    color: #fff;
    background-color: #e50914;
    font-size: 1.8rem;
    border-radius: 4px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.signin p:hover{
    background-color: #c90913;
    cursor: pointer;
}



/*----------------- Image-Content---------------- */


.container-content{
    position: absolute;
    top: 40%;
    z-index: 100000;
    left: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-content #head{
    font-size: 5.5rem;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
    word-spacing: 0px;
}
.container-content .first-para{
    font-size: 2.6rem;
    color: #fff;
    margin-bottom: 1rem;
}
.container-content .sec-para{
    font-size: 2.2rem;
    color: #fff;
    margin-bottom: 1rem;
}


.start{
    display: flex;
    width: 70rem;
    justify-content: space-between;
}

.start input{
    width: 65%;
    height: 5.5rem;
    border: 1px solid rgb(136, 136, 136);
    background-color: rgba(0, 0, 0, 0.507);
    color: #fff;
    font-size: 1.8rem;
    padding-left: 2rem;
    border-radius: 5px;
    outline: none;
}
.start .btn{
    width: 30%;
    height: 5.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #e50914;
    color: #fff;
    border-radius: 4px;

}

.start .btn h1{
    font-weight: 600;
    font-size: 2.6rem;
}

.start .btn i{
    font-size: 2rem;
    font-weight: 600;
}

.start .btn:hover{
    background-color: #c90913;
    cursor: pointer;
}





/*----------------------- Second-Content--------------- */

.border1{
    background-color: rgb(43, 43, 43);
    width: 100vw;
    height: 10px;
    overflow: hidden;
    outline: none;
}

.mid-container{
    overflow: hidden;
}



.mid-container .mid-content{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height:66rem;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.mid-text{
    width: 40%;
}

.mid-text h1{
    font-size:5.5rem;
    color:#fff;
    margin-bottom: 5px;
}

.mid-text p{
    font-size:2.5rem ;
    color: #fff;
}


/* Video */

.mid-gif{
    position: relative;
}

.image{
    width: 53%;
    z-index: 1000;
    position: relative;
    z-index: 10000;
}
video{
    position: absolute;
    top: 20%;
    left: 13%;

}


.stranger-content{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height:66rem;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.stranger-pic{
    position: relative;
    width: 40%;
    display: flex;
    justify-content: center;

}

.stranger-box{
    position: absolute;
    bottom: 35px;
    width: 52%;
    background-color: #000;
    height: 11rem;
    border-radius: 10px;
    border: 1px solid rgb(136, 136, 136);
    display: flex;
    justify-content: space-between;
    /* justify-content: center; */
    /* align-items: center; */
}

.small-pic{
    display: flex;
    align-items: center;
    width: 75%;
}

.small-pic img{
    width: 8rem;
    height: 100%;
    padding: 10px;
}

.small-pic h3{
    color: #fff;
    font-size: 1.7rem;
}
.small-pic p{
    color: rgb(52, 72, 250);
    font-size: 1.5rem;
}

.download-gif{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.download-gif img{
    width: 5rem;
}






.mid-container1{
    overflow: hidden;
}



.mid-container1 .mid-content1{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height:66rem;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.mid-text1{
    width: 40%;
}

.mid-text1 h1{
    font-size:5.5rem;
    color:#fff;
    margin-bottom: 5px;
}

.mid-text1 p{
    font-size:2.5rem ;
    color: #fff;
}


/* Video */

.mid-gif1{
    position: relative;
}

.image1{
    width: 53%;
    z-index: 1000;
    position: relative;
    z-index: 10000;
}


.pile-video{
    width: 60%;
    position: absolute;
    transform: scale(1.1);
    top: 12%;
    left: 19%;

}


/* Question */

.question{
    background-color: rgb(0, 0, 0);
    width: 100%;
    /* height:90rem; */
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.question h1{
    margin-top: 40px;
    color: #fff;
    font-size: 5rem;
    font-weight: 700;
    text-align: center;
}

.question-help{
    width: 75%;
}

.accordion-item{
    border: none;
}

.accordion-item{
    /* height: 10rem; */
    padding: 15px 15px;
    outline: none;
    margin-top: 15px;
    background-color: rgb(63, 63, 63);
}



.accordion-item h2 button{
    font-size: 2.6rem;
    outline: none;
    border: none;
    background-color: rgb(63, 63, 63);
    color: #fff;
}

.cross{
    margin-bottom: 5px;
}


.accordion-body{
    font-size: 2.6rem;
    font-weight: 400;
    color: #fff;
}

.question-down{
    margin:50px 0;
}

.question-down p{
    text-align: center;
    margin-bottom: 15px;
    color: #fff;
    font-size: 2.3rem;
}


.start .btn1{
    width: 30%;
    height: 5.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #e50914;
    color: #fff;
    border-radius: 4px;

}

.start .btn1 h1{
    font-weight: 600;
    font-size: 2.6rem;
    margin-bottom: 40px;
}

.start .btn1 i{
    font-size: 1.8rem;
    font-weight: 600;
}

.footer{
    background-color: rgb(0, 0, 0);
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.footer p{
margin: 50px 160px;
font-size: 1.7rem;
color: rgb(131, 131, 131);
}

a{
    color: rgb(131,131,131);
}


.foot-content{
    color: rgb(131, 131, 131);
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top: 2rem;
}

ul a{
    display: block;
    font-size: 1.6rem;
    margin-top: 1rem;
    color:rgb(131, 131, 131);;
}


.foot-lang{
    margin-top: 30px;
    margin-left: 160px;
    margin-bottom: 10px;
}

.foot-last{
    margin-top: 5px;
    margin-left: 160px;
    margin-bottom: 40px;
    font-size: 1.7rem;
    color: rgb(131, 131, 131);
}



/* Responsive */

@media screen and (max-width:1500px) {
    .container-content{
        position: absolute;
        top: 40%;
        z-index: 100000;
        left: 10%;
    }
}


@media screen and (max-width:1300px) {
    html{
        font-size: 9px;
    }
    .container-content{
        position: absolute;
        top: 40%;
        z-index: 100000;
        left: 6%;
    }

    .nav .logo{
        position: absolute;
        left: 1.5rem;
    }

    .right-side{
        position: absolute;
        right: 1.5rem;
        width: 22%;
        justify-content: space-between;
    }
}


@media screen and (max-width:1200px) {
    .container-content{
        position: absolute;
        top: 40%;
        z-index: 100000;
        left: 6%;
    }
    .mid-container .mid-content{
        background-color: rgb(0, 0, 0);
        width: 100%;
        height:66rem;
        overflow: hidden;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .mid-text{
        width: 37%;
    }
    
    .mid-text h1{
        font-size:5rem;
        color:#fff;
        margin-bottom: 5px;
    }
    
    .mid-text p{
        font-size:2rem ;
        color: #fff;
    }

    .stranger-mid h1{
        font-size:4.5rem;
        color:#fff;
        margin-bottom: 5px;
    }
    
    .stranger-mid p{
        font-size:2rem ;
        color: #fff;
    }


    .mid-text1 h1{
        font-size:4.5rem;
        color:#fff;
        margin-bottom: 5px;
    }
    
    .mid-text1 p{
        font-size:2rem ;
        color: #fff;
    }


    .child-text h1{
        font-size:4rem;
        color:#fff;
        margin-bottom: 5px;
    }
    
    .child-text p{
        font-size:2.2rem ;
        color: #fff;
    }
    

    
    
    /* Video */
    
    .mid-gif{
        position: relative;
    }
    
    .image{
        width: 30%;
        z-index: 1000;
        position: relative;
        z-index: 10000;
    }

    video{
        position: absolute;
        top: 20%;
        left: 13%;
    
    }


    .stranger-content{
        background-color: rgb(0, 0, 0);
        width: 100%;
        height:66rem;
        overflow: hidden;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .stranger-pic{
        position: relative;
        width: 40%;
        display: flex;
        justify-content: center;
    
    }

    .stranger-pic img{
        width: 100%;
    }

    .children-pic img{
        width: 100%;
    }

    .footer p{
        margin: 50px 50px;
        font-size: 1.7rem;
        color: rgb(131, 131, 131);
        }

        .foot-lang{
            margin-left: 50px;
        }
        
        .foot-last{
            margin-left: 50px;
        }
        


}

@media screen and (max-width:1100px) {

    html{
        font-size: 8px;
    }
    .container-content{
        position: absolute;
        top: 40%;
        z-index: 100000;
        left: 12%;
    }
    .container-content #head{
        font-size: 5rem;
        color: #fff;
        font-weight: 700;
        letter-spacing: 1px;
        word-spacing: 0px;
    }
    .container-content .first-para{
        font-size: 2.3rem;
        color: #fff;
        margin-bottom: 1rem;
    }
    .container-content .sec-para{
        font-size: 2rem;
        color: #fff;
        margin-bottom: 1rem;
    }
    
    .mid-container .mid-content{
        background-color: rgb(0, 0, 0);
        width: 100%;
        height:100rem;
        overflow: hidden;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }

    .mid-text{
        width: 85%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .mid-text h1{
        font-size:7rem;
        color:#fff;
        margin-bottom: 5px;
    }
    
    .mid-text p{
        font-size:2.5rem ;
        color: #fff;
    }

    .stranger-mid h1{
        font-size:4.5rem;
        color:#fff;
        margin-bottom: 5px;
    }
    
    .stranger-mid p{
        font-size:2rem ;
        color: #fff;
    }


    .mid-text1 h1{
        font-size:4.5rem;
        color:#fff;
        margin-bottom: 5px;
    }
    
    .mid-text1 p{
        font-size:2rem ;
        color: #fff;
    }


    .child-text h1{
        font-size:4rem;
        color:#fff;
        margin-bottom: 5px;
    }
    
    .child-text p{
        font-size:2.2rem ;
        color: #fff;
    }
    

    
    
    /* Video */
    
    .mid-gif{
        position: relative;
    }
    
    .image{
        width: 30%;
        z-index: 1000;
        position: relative;
        z-index: 10000;
    }

    video{
        position: absolute;
        top: 20%;
        left: 13%;
    
    }


    .stranger-content{
        background-color: rgb(0, 0, 0);
        width: 100%;
        height:75rem;
        overflow: hidden;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .stranger-pic{
        position: relative;
        width: 60%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    
    }


     .mid-container1 .mid-content1{
        background-color: rgb(0, 0, 0);
        width: 100%;
        height:100rem;
        overflow: hidden;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }
.mid-text1 h1{
    font-size: 7rem;
}
.mid-text1 p{
    font-size: 2.3rem;
}

    .mid-text1{
        width: 85%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .stranger-pic img{
        width: 100%;
    }

    .children-pic img{
        width: 100%;
    }

    .footer p{
        margin: 50px 40px;
        font-size: 1.7rem;
        color: rgb(131, 131, 131);
        }

        .foot-lang{
            margin-left: 40px;
        }
        
        .foot-last{
            margin-left: 40px;
        }
        


}

@media screen and (max-width:960px){
    html{
        font-size: 7px;
    }

    .container-content{
        position: absolute;
        top: 40%;
        z-index: 100000;
        left: 20%;
    }
    .container-content #head{
        font-size: 4rem;
        color: #fff;
        font-weight: 700;
        letter-spacing: 1px;
        word-spacing: 0px;
    }
    .container-content .first-para{
        font-size: 2rem;
        color: #fff;
        margin-bottom: 1rem;
    }
    .container-content .sec-para{
        font-size: 1.8rem;
        color: #fff;
        margin-bottom: 1rem;
    }
}
@media screen and (max-width:850px){
    html{
        font-size: 7px;
    }

    .container-content{
        position: absolute;
        top: 40%;
        z-index: 100000;
        left: 15%;
    }
    .container-content #head{
        font-size: 4rem;
        color: #fff;
        font-weight: 700;
        letter-spacing: 1px;
        word-spacing: 0px;
    }
    .container-content .first-para{
        font-size: 2rem;
        color: #fff;
        margin-bottom: 1rem;
    }
    .container-content .sec-para{
        font-size: 1.8rem;
        color: #fff;
        margin-bottom: 1rem;
    }
    .foot-content{
        color: rgb(131, 131, 131);
        width: 80%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
}
@media screen and (max-width:768px){
    html{
        font-size: 7px;
    }

    .right-side{
        position: absolute;
        right: 1.5rem;
        width: 26%;
        justify-content: space-between;
    }

    .container-content{
        position: absolute;
        top: 40%;
        z-index: 100000;
        left: 12%;
    }
    .container-content #head{
        font-size: 4rem;
        color: #fff;
        font-weight: 700;
        letter-spacing: 1px;
        word-spacing: 0px;
    }
    .container-content .first-para{
        font-size: 2rem;
        color: #fff;
        margin-bottom: 1rem;
    }
    .container-content .sec-para{
        font-size: 1.8rem;
        color: #fff;
        margin-bottom: 1rem;
    }
    .foot-content{
        color: rgb(131, 131, 131);
        width: 80%;
        display: flex;
        justify-content: space-between;
    }
    .start{
        display: flex;
        width: 70rem;
        height: 14rem;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width:700px){
    html{
        font-size: 6px;
    }

    .container-content{
        position: absolute;
        top: 40%;
        z-index: 100000;
        left: 12%;
    }
    .btn{
        padding-top: 5px;
    }
    .footer p{
        margin: 50px 35px;
        }
    .foot-lang{
        margin-left: 35px;
    }
    
    .foot-last{
        margin-left: 35px;
    }
}
@media screen and (max-width:615px){
    html{
        font-size: 5px;
    }

    .container-content{
        position: absolute;
        top: 40%;
        z-index: 100000;
        left: 15%;
    }
    .btn{
        padding-top: 5px;
    }

    .image{
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 10%;
    }

    .image img{
        width: 100%;
    }
    .video{
        width: 60%;
        position: absolute;
        top: 20%;
        left: 12.5%;
    }

    .video video{
        width: 100%;
    }

    
    .image1{
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 10%;
        z-index: 10000;
    }
    .image1 img{
        width: 100%;
    }
    .video1{
        position: absolute;
        width: 50%;
        top: 12%;
        left: 19%;
    }
    
    .pile-video{
        width: 100%;
    
    }

    .footer p{
        margin: 50px 30px;
        }
    .foot-lang{
        margin-left: 30px;
    }
    
    .foot-last{
        margin-left: 30px;
    }


}

@media screen and (max-width:515px){
    html{
        font-size: 4.5px;
    }

    .container-content{
        position: absolute;
        top: 40%;
        z-index: 100000;
        left: 13%;
    }
    .btn{
        padding-top: 5px;
    }

    .footer p{
        margin: 50px 25px;
        }
    .foot-lang{
        margin-left: 25px;
    }
    
    .foot-last{
        margin-left: 25px;
    }

    .right-side{
        position: absolute;
        right: 1.5rem;
        width: 40%;
        justify-content: space-evenly;
    }

    .nav{
        width: 100%;
        height: 10rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        top: 1.8rem;
        /* margin-top: 2.2rem; */
        z-index: 10000;
    
    }
    
    .nav .logo{
        width: 22rem;
        height: 70%;
        position: absolute;
        left: 2rem;
        background-image: url(./img/logo.png);
        background-size: cover;
    }
    
    
    .lang{
        width: 20rem;
        height: 5rem;
        color: #fff;
        border: 1px solid rgb(136, 136, 136);
        border-radius: 4px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .lang i{
        font-size: 2rem;
    }
    
    .lang select{
        outline: none;
        font-size: 1.9rem;
        letter-spacing: 4;
        border: none;
        background-color: transparent;
        color: #fff;
    }
    
    
    .signin p{
        width: 13rem;
        height: 5rem;
        color: #fff;
        background-color: #e50914;
        font-size: 2rem;
        border-radius: 4px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

}


@media screen and (max-width:400px){
    html{
        font-size: 4.5px;
    }

    .container-content{
        position: absolute;
        top: 35%;
        z-index: 100000;
        width: 80%;
    }
    .btn{
        padding-top: 5px;
    }

    .container-content #head{
        font-size: 5rem;
        color: #fff;
        font-weight: 700;
        letter-spacing: 1px;
        word-spacing: 0px;
        text-align: center;
    }
    .container-content .first-para{
        font-size: 2.6rem;
        color: #fff;
        margin-bottom: 1rem;
        text-align: center;
    }
    .container-content .sec-para{
        font-size: 2.2rem;
        color: #fff;
        margin-bottom: 1rem;
        text-align: center;
    }

    .right-side{
        position: absolute;
        right: 1.5rem;
        width: 60%;
        justify-content: space-evenly;
    }

    .nav{
        width: 100%;
        height: 10rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        top: 1.8rem;
        /* margin-top: 2.2rem; */
        z-index: 10000;
    
    }
    
    /* .nav .logo{
        width: 18rem;
        height: 50%;
        position: absolute;
        left: 20rem;
        background-image: url(./img/logo.png);
        background-size: cover;
    } */
    
    
    .lang{
        width: 20rem;
        height: 5rem;
        color: #fff;
        border: 1px solid rgb(136, 136, 136);
        border-radius: 4px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .lang i{
        font-size: 2rem;
    }
    
    .lang select{
        outline: none;
        font-size: 1.9rem;
        letter-spacing: 4;
        border: none;
        background-color: transparent;
        color: #fff;
    }
    
    
    .signin p{
        width: 13rem;
        height: 5rem;
        color: #fff;
        background-color: #e50914;
        font-size: 2rem;
        border-radius: 4px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }


    .question{
        width: 100%;
    }

    .question h1{
        width: 80%;
    }

    .start {
        display: flex;
        width: 61rem;
        height: 14rem;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
    .start .btn {
        width: 40%;
        height: 6rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: #e50914;
        color: #fff;
        border-radius: 4px;
    }
}